<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Huang_Li_Bachelor</h1>

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Expertise</div>
            <div class="clear"></div>s
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>ETL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>SQL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>Hadoop</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="35%">
                <div class="skillbar-title"><span>Hive</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <div class="skillbar clearfix" data-percent="35%">
                <div class="skillbar-title"><span>Spark Streaming</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <div class="skillbar clearfix" data-percent="35%">
                <div class="skillbar-title"><span>kmeans cluster</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <div class="skillbar clearfix" data-percent="35%">
                <div class="skillbar-title"><span>random forest classification</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <div class="skillbar clearfix" data-percent="35%">
                <div class="skillbar-title"><span>logistic regression</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>

            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <!--<div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!--<div class="skills">
            <!-- .skillbar -->
            <!--<div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Wordpress</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!--<div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Joomla</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!--<div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Drupal</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <!--<div class="skillbar clearfix" data-percent="89%">
                <div class="skillbar-title"><span>Php</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">89%</div>
            </div>
            <!-- /.skillbar --> 
        <!--</div>
        
         
        <!-- .title_content -->
        <!--<div class="title_content" style="float: none;">
            <div class="text_content">Office Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <!--<div class="skills">
            <!-- .skillbar -->
            <!--<div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>MS Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!--<div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>MS Word</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!--<div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Powerpoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
           <!-- <div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title"><span>SharePoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar -->   
		<!--</div>
        
        
        <!-- .title_content -->
        <!--<div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!--<div class="skills">
            <!-- .skillbar -->
            <!--<div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Music</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!--<div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Sport</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!--<div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Reading</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!--<div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Travelling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
        <!--</div>
        
        
        <!-- .title_content -->
        <!--<div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!--<div class="skills">
            <!-- .skillbar -->
            <!--<div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!--<div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Chinese</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!--<div class="skillbar clearfix " data-percent="98%">
                <div class="skillbar-title"><span>Cantonese</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">98%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!--<div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title"><span>Japanese</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar -->
        <!--</div>
        
        
        <!-- .title_content -->
        <!--<div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <!--<a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    <!--</div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Work Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Data Engineer <span class="duration"><i class="fa fa-calendar color"></i> 8/2017 - now</span></h5>
                <h6><span class="fa fa-briefcase"></span> GZ Claude Network Technology Co., Ltd.</h6>
                <p>Statistic analysis and report development for BI; crawl data resources, data clean-up and training, ETL and data warehouse operation and maintenance; testing, permission administration and technical support; satisfy and follow requirement; solve exceptions and faults; report malfunctions for upgrade.</p>
            </li>
            <li>
                <h5>Operation&Maintenance Engineer <span class="duration"><i class="fa fa-calendar color"></i> 7/2016 - 7/2017</span></h5>
                <h6><span class="fa fa-briefcase"></span> Local Taxation Bureau/Fesco(project outsourcing)</h6>
                <p>Operation and maintenance towards social security system and Oracle database; requirement documentation; statistic analysis and develop SQL scripts; optimize efficiency of data input and output.</p>
            </li>
            <li class="first">
                <h5>Data Analyst(Asset Management) <span class="duration"><i class="fa fa-calendar color"></i> 6/2015 - 7/2016</span></h5>
                <h6><span class="fa fa-briefcase"></span> IBM/Wistron ITS (human outsourcing)</h6>
                <p>Collect parameters of HW SW; preprocess data with functions; develop VBA and macro with licensing algorithm model; report reconciliation; reduce audit risks for clients.</p>
            </li>
            <li class="first">
                <h5>Android App Assistant Development Engineer	(Intern) <span class="duration"><i class="fa fa-calendar color"></i> 6/2014 - 6/2015</span></h5>
                <h6><span class="fa fa-briefcase"></span> SZ Research Institute of Wuhan University(Multi Media Development Center)</h6>
                <p>Analysis, prototyping, development towards function needs of android app projects as teamwork; write requirement document; design MySQL DB and API; code layout, JSON data parse and test.</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Master of Mathematical Statistics(Data Mining) <span class="duration"><i class="fa fa-calendar color"></i> 9/2017 - 6/2021</span></h5>
                <h6><span class="fa fa-book"></span> Renmin University of China</h6>
                <!-- /<p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>-->
            </li>
            <li>
                <h5>Bachelor of Business English <span class="duration"><i class="fa fa-calendar color"></i> 9/2011 - 6/2015</span></h5>
                <h6><span class="fa fa-book"></span> Lijiang College of Guangxi Normal University</h6>
                <!-- /<p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>-->
            </li>
            <li>
                <h5>Bachelor of Economics(Dual Degree) <span class="duration"><i class="fa fa-calendar color"></i> 9/2013 - 6/2015</span></h5>
                <h6><span class="fa fa-book"></span> Economics&Management College of Guangxi Normal University</h6>
                <!-- /<p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>-->
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Projects</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Data Management System <span class="duration"><i class="fa fa-calendar color"></i> 2/2018 – 7/2018</span></h5>
                <!--<h6><span class="fa fa-trophy"></span> Name of Institute</h6>-->
                <p>1.Deploy hadoop; design warehouse with synchronisation strategy according to dimension mode;</p>
                <p>2.HDFA+MR for distributed storage transport services; flume+kafka for log collection;</p>
                <p>3.Hive+sqoop+mysql for data migration and off-line analysis; spark streaming for real time index;</p>
                <p>4.Zookeeper+ambari for cluster coordination and monitoring;</p>
                <p>5.Spark MLlib for user behavior and portrait; visualize data report</p>
            </li>
            <!--<li>
                <h5>Design &amp; Art Direction <span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2013</span></h5>
                <h6><span class="fa fa-trophy"></span> Name of Institute</h6>
                <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>
            </li>-->
  
        </ul>
        <!-- /.attributes -->
        <br>
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<!--<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <!--<div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Client reference</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

       <!-- <ul>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>
                <span>John Doe, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>
                <span>Leia Calvi, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>
                <span>Maria Callas, UX Designer</span>
            </li>
        </ul>
</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->